<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <script>
      window.externals = 'Some external text.';
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
