body  {
  background-color: #282c34;
  color: white;
}

.root {
  text-align: center;
  font-family: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  font-size: 18px;
  margin: 100px;

  h2 {
    font-size: 32px;
  }

  a {
    color: #61dafb;
  }

  a:hover {
    color: #44a6c1;
  }
}
